* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.Posts {
    width: 80%;
    padding: 50px 0;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    margin-top: 15px;
}

.post__btns {
    display: flex;
    flex-flow: column nowrap;
}

.post-button__wrapper {
    margin-bottom: 10px;
}

.post-button_load, .post-button_create {
    margin: 10px;
}

.hr {
    border: 1px solid teal;
}



.post-filter__wrapper {
    margin: 20px 0;
    /*padding: 10px 0;*/
    display: flex;
    flex-flow: row nowrap;
}

.post-filter__input {
    flex: 1;
    margin: 0 10px;
}

.post-filter__select {
    width: 150px;
    margin: 0 10px;
}

.post-filter__pages-limit {
    width: 70px;
    margin: 0 10px;

}



.error__title {
    margin: 30px auto;
}



.loader__wrapper {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.loader__title {
    margin: 30px 0;
    text-align: center;
}

.DefaultLoader {
    margin: 30px auto;
}



.post-enter {
    transform: translateX(500px);
    opacity: 0;
}

.post-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 250ms ease-in;
}

.post-exit {
    transform: translateX(0);
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-500px);
    opacity: 0;
    transition: all 250ms ease-in;
}



.page__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0;
}

.page-button {
    width: 50px;
    height: 40px;
    margin: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: lightgrey;
}

#page-button_current {
    background-color: teal;
    color: white;
    font-weight: bold;
}



.About {
    width: 100vw;
    height: 100vh;
    padding: 50px;

    display: flex;
    justify-content: center;

    color: teal;
    font-weight: bold;
}



.Navbar {
    width: 100%;
    height: 50px;
    padding: 0 10%;
    background-color: teal;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;

    /*position: fixed;*/
}

.navbar__links {
    color: white;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
}

.navbar__link {
    min-width: 80px;
    min-height: 40px;
    margin: 0 5px;
    padding: 5px 10px;

    background: none;
    border: none;
    text-decoration: none;
    color: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__link:hover {
    background-color: white;
    color: teal;
    font-weight: bold;
}



.Error {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;
    color: teal;
    font-weight: bold;
}



.comments__page-title {
    margin: 20px auto 0 0;
    font-size: medium;
    color: teal;
    text-transform: uppercase;
}

.comments__post {
    margin-top: 20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    background-color: teal;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 10px double white;
}

.comments__wrapper {
    padding: 20px;
}

.comment {
    min-height: 150px;
    padding: 20px;
    margin-top: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
}

.comment__header {
    font-size: larger;
    margin: 5px 0 0 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.comment__body {
    margin: 10px 0 0 0;
}

.comment__email {
    font-size: small;
    font-style: normal;
    color: lightgrey;
    font-weight: bold;
    text-transform: lowercase;

    margin: auto 0 0 auto;
}

.comment__email:hover {
    color: black;
}

.comment__email:active {
    color: teal;
    text-decoration: underline;
    /*font-weight: bold;*/
}



/* STYLING CLASSES */

._border_decorated {
    border: 2px solid teal;
    position: relative;
}

._border_decorated::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed teal;
}