.DefaultButton {
    padding: 5px 15px;
    /*margin: 5px 0;*/

    font-size: 14px;
    color: teal;
    border: 2px solid teal;

    background: transparent;
    cursor: pointer;
    white-space: nowrap;
}